.frame,
.iphone14Pro25 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  margin-left: -1px;
  width: 449px;
  flex-direction: row;
  debug_commit: f6aba90;
}
.iphone14Pro25 {
  height: 5528px;
  width: 393px;
  background: linear-gradient(180deg, #c6d8ec, #fefefe 31.56%);
  flex-direction: column;
  padding: 0 0 2400.2px;
  box-sizing: border-box;
  gap: var(--gap-12xs-2);
  max-width: calc(100% - 1594px);
}
.unsplashajtiw00qqtiIcon {
  height: 539.1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 8;
}
.frameChild {
  height: 76px;
  width: 330px;
  position: absolute;
  margin: 0 !important;
  bottom: 76.1px;
  left: 539.7px;
  border-radius: 87.03px;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 3.3px 6.7px 15.9px rgba(72, 91, 112, 0.5);
  z-index: 9;
}
.memoryLossForgetThingsTo {
  height: 308px;
  width: 354px;
  position: absolute;
  margin: 0 !important;
  right: 94.6px;
  bottom: 3.1px;
  object-fit: contain;
  z-index: 10;
}
.unsplashajtiw00qqtiParent {
  width: 1519.3px;
  height: 539.1px;
  margin: 0 !important;
  position: absolute;
  top: 4060px;
  left: -4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.variableCluster {
  height: 135px;
  width: 325px;
  position: relative;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.startEarlyAnd,
.stayAhead {
  margin: 0;
}
.startEarlyAndContainer {
  width: 185px;
  position: relative;
  display: inline-block;
  z-index: 9;
}
.variableClusterParent {
  width: 325px;
  margin: 0 !important;
  position: absolute;
  top: 4659px;
  right: 584px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-23xl) var(--padding-45xl) var(--padding-12xl);
  max-width: 100%;
  z-index: 8;
  text-align: center;
}
.executives,
.getHeadhunted {
  position: relative;
  display: inline-block;
}
.executives {
  width: 278px;
  font-size: var(--font-size-28xl-1);
  color: var(--color-steelblue-200);
  text-shadow: 0 3.7px 3.67px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 9;
}
.getHeadhunted {
  height: 88.7px;
  width: 309.3px;
  flex-shrink: 0;
  text-shadow: 0 6.1px 6.12px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.getHeadhuntedWrapper {
  width: 1456.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.bubbleSort,
.variableCluster1 {
  position: relative;
  display: none;
  max-width: 100%;
}
.bubbleSort {
  height: 365px;
  width: 1512px;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  z-index: 0;
}
.variableCluster1 {
  height: 135px;
  width: 325px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
}
.checkWhats {
  margin: 0;
  white-space: pre-wrap;
}
.happening {
  margin: 0;
}
.checkWhatsCurrentlyContainer {
  width: 279px;
  position: relative;
  display: inline-block;
  z-index: 9;
}
.variableCluster2,
.variableClusterGroup {
  width: 325px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  max-width: 100%;
}
.variableClusterGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-lgi) var(--padding-18xl);
  z-index: 8;
}
.variableCluster2 {
  height: 135px;
  position: relative;
  display: none;
}
.takeFullControl {
  width: 199px;
  position: relative;
  display: inline-block;
  z-index: 9;
}
.variableClusterContainer {
  width: 325px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-35xl) 59px var(--padding-31xl);
  white-space: nowrap;
  max-width: 100%;
  z-index: 8;
  font-size: var(--font-size-7xl);
}
.itsAlwaysFree {
  margin: 0 !important;
  height: 89px;
  width: 436px;
  position: absolute;
  bottom: 18px;
  left: 528px;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  z-index: 8;
}
.bubbleSortParent {
  align-self: stretch;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-45xl) var(--padding-137xl) var(--padding-45xl) 158.3px;
  box-sizing: border-box;
  position: relative;
  min-height: 365px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 7;
}
.unsplashajtiw00qqtiIcon1 {
  height: 540.4px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.businessDoubtChoiceMakeDe,
.frameItem {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.businessDoubtChoiceMakeDe {
  height: 289px;
  width: 289px;
  right: 61.6px;
  bottom: 0.9px;
  object-fit: contain;
}
.frameItem {
  height: 75.9px;
  width: 293.8px;
  bottom: 65px;
  left: 561.2px;
  border-radius: 87.03px;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 3.3px 6.7px 15.9px rgba(72, 91, 112, 0.5);
}
.unsplashajtiw00qqtiGroup {
  width: 1519.3px;
  height: 540.4px;
  margin: 0 !important;
  position: absolute;
  top: 3903px;
  left: -5.7px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameInner {
  align-self: stretch;
  height: 3377px;
  position: relative;
  background: linear-gradient(180deg, #e8f1fa 51.87%, #c6d8ec);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 0;
}
.remoteWorkTeamMeetingOnli {
  height: 387px;
  width: 436px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.mainIcon {
  position: absolute;
  top: 0.1px;
  left: 0;
  width: 110.6px;
  height: 89px;
  object-fit: cover;
  display: none;
}
.imacProFrontViewMockupLab {
  position: absolute;
  width: calc(100% - 8.4px);
  top: 3.8px;
  right: 4.5px;
  left: 3.9px;
  max-width: 100%;
  overflow: hidden;
  height: 57.1px;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.imacProFrontViewMockup {
  height: 91.8px;
  width: 110.6px;
  position: relative;
  background-image: url(/imac-pro-front-view-mockup@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.ipadPro11InchMockupLabe,
.mainIcon1 {
  position: absolute;
  width: calc(100% - 3.4px);
  top: 0.6px;
  right: 2.8px;
  left: 0.6px;
  max-width: 100%;
  overflow: hidden;
  height: 124.2px;
  object-fit: cover;
  display: none;
}
.ipadPro11InchMockupLabe {
  width: calc(100% - 12.5px);
  top: 4.9px;
  right: 7.8px;
  left: 4.7px;
  height: 115px;
  object-fit: contain;
  mix-blend-mode: normal;
}
.ipadPro11InchMockup,
.remoteWorkTeamMeetingOnliParent {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.ipadPro11InchMockup {
  height: 127.2px;
  width: 93.2px;
  position: relative;
  background-image: url(/ipad-pro-11-inch-mockup@3x.png);
  display: none;
}
.remoteWorkTeamMeetingOnliParent {
  width: 436px;
  margin: 0 !important;
  position: absolute;
  top: 1293px;
  left: 228px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 194px 18.2px 101.2px;
  box-sizing: border-box;
  background-image: url(/remote-work-team-meeting-online-communication-and-business-discussion-video-conference-to-link--copy-1@2x.png);
  max-width: 100%;
  z-index: 2;
}
.mainIcon2 {
  position: absolute;
  height: calc(100% - 4px);
  top: 0.5px;
  bottom: 3.5px;
  left: 0.5px;
  max-height: 100%;
  width: 175.7px;
  object-fit: cover;
  display: none;
}
.isometricIphone12MockupLab {
  position: absolute;
  top: 1.7px;
  left: 4.2px;
  width: 167.7px;
  height: 97.1px;
  object-fit: contain;
  display: none;
  mix-blend-mode: normal;
}
.isometricIphone12Mockup {
  height: 111.6px;
  width: 194px;
  position: relative;
  background-image: url(/isometric-iphone-12-mockup1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 4;
}
.bubbleSpeechBlueWhitePngC {
  width: 486.6px;
  height: 323.9px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.executive {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
.span {
  font-size: var(--font-size-13xl);
}
.empowerYourCareer {
  margin: 0;
}
.alwaysFreeToday,
.yourExcellenceBegins {
  margin: 0;
  white-space: pre-wrap;
}
.alwaysFreeToday {
  font-size: var(--font-size-13xl);
}
.empowerYourCareerContainer {
  width: 377px;
  position: relative;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  z-index: 3;
  font-size: var(--font-size-5xl);
}
.bubbleSpeechBlueWhitePngCParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl) 120.9px var(--padding-47xl);
  box-sizing: border-box;
  background-image: url(/bubble-speech-blue-white-png-clip-art-image-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 317px;
  max-width: 100%;
  z-index: 1;
}
.branchingNumber {
  position: absolute;
  top: 56.5px;
  left: 88px;
  border-radius: 14.69px;
  background: linear-gradient(180deg, #bede8e 17.19%, #6c962c);
  box-shadow: 0 5.9px 5.88px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.pharrowUpBoldIcon {
  position: absolute;
  height: calc(100% - 3.5px);
  top: 0;
  bottom: 3.5px;
  left: 18px;
  max-height: 100%;
  width: 53px;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.branchingNumberParent {
  align-self: stretch;
  height: 56.5px;
  position: relative;
}
.frameParent2,
.frameWrapper1,
.frameWrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper2 {
  width: 88px;
  flex-direction: column;
  padding: 98px 0 0;
  box-sizing: border-box;
}
.frameParent2,
.frameWrapper1 {
  max-width: 100%;
}
.frameParent2 {
  align-self: stretch;
  flex-direction: row;
  gap: 40.4px;
}
.frameWrapper1 {
  width: 615px;
  flex-direction: column;
  padding: 0 0 var(--padding-92xl);
  box-sizing: border-box;
  min-height: 435px;
}
.isometricIphone12MockupParent {
  width: 897px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangleDiv {
  height: 56.5px;
  width: 88px;
  position: relative;
  border-radius: 14.69px;
  background: linear-gradient(180deg, #bede8e 17.19%, #6c962c);
  box-shadow: 0 5.9px 5.88px rgba(0, 0, 0, 0.25);
  display: none;
}
.pharrowUpBoldIcon1 {
  height: 53px;
  width: 53px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.frameWrapper4,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  border-radius: 14.69px;
  background: linear-gradient(180deg, #bede8e 17.19%, #6c962c);
  box-shadow: 0 5.9px 5.88px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  padding: 0 var(--padding-mid) var(--padding-9xs-5);
  z-index: 1;
}
.frameWrapper4 {
  flex-direction: column;
  padding: var(--padding-105xl) 0 0;
}
.speechBubbleWhiteGreenPng {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.vgh1Icon {
  width: 399px;
  height: 407px;
  position: absolute;
  margin: 0 !important;
  right: -259.8px;
  bottom: -108px;
  object-fit: cover;
  z-index: 2;
}
.joinToday,
.recruiters {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.recruiters {
  width: 208px;
  display: inline-block;
  z-index: 4;
}
.joinToday {
  z-index: 3;
}
.joinTodayWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}
.speechBubbleWhiteGreenPngParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-74xl) 73.2px var(--padding-137xl) 95px;
  box-sizing: border-box;
  position: relative;
  min-width: 307px;
  min-height: 345px;
  max-width: 100%;
}
.frameParent4,
.frameWrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent4 {
  width: 602.2px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-22xl);
}
.frameWrapper3 {
  width: 785.8px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.branchingDistribution {
  height: calc(100% - 55.7px);
  width: calc(100% - 17.2px);
  position: absolute;
  margin: 0 !important;
  top: 56.24px;
  right: 17.2px;
  bottom: -0.54px;
  left: 0;
  background: linear-gradient(120.54deg, #c6d8ec, #fff 33.85%);
  box-shadow: -2px 1px 19.2px -2.02px rgba(0, 0, 0, 0.25);
  transform: rotate(-3.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.rectangleIcon {
  height: 254.2px;
  width: 488.9px;
  position: absolute;
  margin: 0 !important;
  right: 146.9px;
  bottom: -71.4px;
  border-radius: 42.07px;
  object-fit: contain;
  z-index: 2;
}
.span1 {
  font-size: var(--font-size-51xl-5);
}
.recruiters2,
.span1 {
  white-space: pre-wrap;
}
.recruiters1 {
  margin: 0;
}
.payToPlay {
  margin: 0;
  font-size: var(--font-size-51xl-5);
  white-space: pre-wrap;
}
.recruitersPayToContainer {
  height: 151px;
  width: 314px;
  position: absolute;
  margin: 0 !important;
  right: 253.1px;
  bottom: -64.87px;
  display: inline-block;
  text-shadow: 0 7.1px 7.05px rgba(0, 0, 0, 0.25);
  transform: rotate(-13.4deg);
  transform-origin: 0 0;
  z-index: 3;
}
.bestWomanHoldingMegaphone {
  height: 315.5px;
  width: 406.7px;
  position: absolute;
  margin: 0 !important;
  bottom: -1.6px;
  left: -188.8px;
  object-fit: contain;
  z-index: 2;
}
.discoverYourNext {
  margin: 0;
}
.joinUsToday {
  margin: 0;
  white-space: pre-wrap;
}
.discoverYourNextContainer {
  position: relative;
  font-size: 63.5px;
  color: var(--color-darkslateblue-100);
  text-align: left;
  z-index: 3;
}
.branchingDistributionParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-92xl) 39.7px var(--padding-92xl) var(--padding-21xl);
  box-sizing: border-box;
  position: relative;
  min-height: 381px;
  text-align: center;
  font-size: 84.6px;
  color: var(--color-white);
  font-family: var(--font-jomhuria);
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 205px;
  max-width: 100%;
  text-align: right;
}
.frameParent1,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent1 {
  width: 1003.2px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 390.7px;
}
.frameWrapper,
.rectangleParent {
  box-sizing: border-box;
}
.frameWrapper {
  width: 1380.8px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.rectangleParent {
  align-self: stretch;
  background: linear-gradient(180deg, #e8f1fa 51.87%, #c6d8ec);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 384.7px;
  position: relative;
  gap: 272px;
}
.postYourJob,
.toCommunicateAll {
  margin: 0;
}
.postYourJobContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.loopControl {
  height: 71px;
  width: 238px;
  position: relative;
  border-radius: var(--br-85xl);
  background-color: var(--color-gray-500);
  box-shadow: 4px 8px 19px rgba(72, 91, 112, 0.5);
  border: 5px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.postJob {
  position: relative;
  display: inline-block;
  text-shadow: 0 2.5px 2.48px rgba(0, 0, 0, 0.25);
  min-width: 115px;
  z-index: 1;
}
.loopControlParent {
  flex: 1;
  border-radius: var(--br-85xl);
  background-color: var(--color-gray-500);
  box-shadow: 4px 8px 19px rgba(72, 91, 112, 0.5);
  border: 5px solid var(--color-gray-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-37xl) var(--padding-mid)
    var(--padding-38xl);
  min-width: 115px;
  white-space: nowrap;
}
.makiarrowIcon {
  height: 68px;
  width: 68px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dataCollectorInner,
.frameParent5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.frameParent5 {
  width: 337px;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-12xl);
}
.dataCollectorInner {
  width: 633px;
  align-items: flex-start;
  font-size: 29.8px;
  color: var(--color-gray-300);
}
.errorHandler {
  height: calc(100% - 75.5px);
  width: calc(100% - 40px);
  position: absolute;
  margin: 0 !important;
  top: 0.02px;
  right: -10.36px;
  bottom: 75.48px;
  left: 50.36px;
  background: linear-gradient(248.27deg, #dce6dd, #fff 36.94%);
  box-shadow: -1px 0.5px 9.91px -1.04px rgba(0, 0, 0, 0.25);
  transform: rotate(14.3deg);
  transform-origin: 0 0;
  z-index: 4;
}
.recruiters3 {
  height: 74px;
  width: 181px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4.6px 4.64px rgba(0, 0, 0, 0.25);
  z-index: 5;
}
.errorHandlerParent {
  width: 370.8px;
  margin: 0 !important;
  position: absolute;
  top: -82px;
  right: 228.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 151px 0 var(--padding-35xl) var(--padding-17xl);
  box-sizing: border-box;
  font-size: 63.8px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-jomhuria);
}
.frameChild1 {
  position: absolute;
  top: 40.7px;
  left: 24.07px;
  background-color: var(--color-gray-600);
  box-shadow: -1px 0.5px 9.96px -1.05px rgba(0, 0, 0, 0.25);
  width: 332.3px;
  height: 196.7px;
  transform: rotate(7deg);
  transform-origin: 0 0;
  z-index: 3;
}
.ri2Icon {
  position: absolute;
  top: 0;
  left: 61.1px;
  width: 271.1px;
  height: 214px;
  object-fit: contain;
  z-index: 6;
}
.rectangleContainer {
  width: 353.9px;
  height: 276.6px;
  position: absolute;
  margin: 0 !important;
  top: -96px;
  right: 239.2px;
}
.dataCollector,
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.dataCollector {
  background-color: var(--color-seagreen);
  box-shadow: 0 3px 16px 10px rgba(124, 148, 174, 0.4);
  align-items: flex-end;
  padding: 70px 652px var(--padding-78xl) var(--padding-109xl);
  box-sizing: border-box;
  position: relative;
  gap: 33px;
  z-index: 2;
  margin-top: -53px;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.frameDiv {
  align-items: flex-start;
  flex-shrink: 0;
}
.recruiters4 {
  position: relative;
  text-shadow: 0 3.7px 3.67px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.recruitersWrapper {
  width: 583px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.span2 {
  color: var(--color-black);
}
.discoverEarlierAndMore,
.qualifiedExecutives {
  margin: 0;
}
.discoverEarlierAndContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-30xl-9);
  display: inline-block;
  font-weight: 700;
  text-align: center;
  z-index: 3;
  margin-top: -0.5px;
}
.frameParent8,
.frameWrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent8 {
  flex: 1;
  flex-direction: column;
}
.frameWrapper6 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.interestOrMatch,
.withSeniorManager {
  margin: 0;
  white-space: pre-wrap;
}
.withSeniorManagerContainer {
  align-self: stretch;
  position: relative;
  font-size: 25.8px;
  color: var(--color-black);
  text-align: center;
  z-index: 2;
}
.frameParent7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44.5px;
  max-width: 100%;
}
.span3 {
  font-family: var(--font-jomhuria);
}
.signUp {
  height: 88.7px;
  width: 309.3px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 6.1px 6.12px rgba(0, 0, 0, 0.25);
  z-index: 3;
}
.signUpWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid) 173px;
  font-size: var(--font-size-14xl-5);
  color: var(--color-white);
}
.frameChild2 {
  height: 135px;
  width: 325px;
  position: relative;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.increaseExecutive,
.leadsBy80 {
  margin: 0;
}
.increaseExecutiveLeadsContainer {
  width: 232px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frameChild3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: none;
}
.frameChild4 {
  height: 135px;
  width: 325px;
  position: relative;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.manageAndCommunicate,
.streamlineHowYou {
  margin: 0;
}
.streamlineHowYouContainer {
  width: 308px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frameChild5,
.rectangleParent3 {
  width: 325px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent3 {
  position: absolute;
  top: 66px;
  left: 157px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-12xs) var(--padding-22xl)
    var(--padding-5xs);
  z-index: 1;
}
.frameChild5 {
  height: 135px;
  position: relative;
  display: none;
}
.andBottomLine,
.boostYourEfficiency {
  margin: 0;
}
.boostYourEfficiencyContainer {
  width: 259px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.rectangleParent4 {
  position: absolute;
  top: 66px;
  left: 1028px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  box-sizing: border-box;
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-7xl) var(--padding-20xl)
    var(--padding-13xl);
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-7xl);
}
.payToPlay1 {
  margin: 0;
  position: absolute;
  top: 260px;
  left: 604px;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 436px;
  height: 89px;
  z-index: 1;
}
.rectangleParent2 {
  height: 365px;
  width: 1512px;
  position: absolute;
  margin: 0 !important;
  right: -594px;
  bottom: -164px;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-6xl);
}
.frameWrapper7,
.rectangleParent1 {
  flex-direction: row;
  box-sizing: border-box;
}
.rectangleParent1 {
  width: 325px;
  border-radius: 14.52px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-seagreen);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-20xl) var(--padding-20xl)
    var(--padding-27xl);
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.frameWrapper7 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-74xl);
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-darkgreen);
}
.frameParent6,
.frameWrapper5,
.frameWrapper7 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent6 {
  width: 696px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 78.4px;
}
.frameWrapper5 {
  width: 1436px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 105.5px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-28xl-1);
  color: var(--color-steelblue-200);
}
.frameContainer,
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameContainer {
  height: 4966px;
  overflow-y: auto;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-173xl) var(--padding-12xs) 1053px 0;
  position: relative;
  gap: 57.5px;
  debug_commit: f6aba90;
  margin-top: -192px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-inria-serif);
}
.frameGroup {
  height: 5139px;
  align-items: flex-end;
  padding: 0 0 4774px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgreen);
}
.dataHub,
.frameParent,
.macbookPro1425 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  margin-left: -574.7000000000007px;
  width: 1513px;
  flex-direction: column;
  gap: 42.3px;
  max-width: 161%;
  flex-shrink: 0;
  font-size: var(--font-size-14xl-5);
  color: var(--color-white);
}
.dataHub,
.macbookPro1425 {
  position: relative;
  box-sizing: border-box;
}
.macbookPro1425 {
  width: 1512px;
  background: linear-gradient(180deg, #cee0f5, #fefefe 45.1%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 4111.5px 0 548px 573.7px;
  gap: 296.5px;
  max-width: calc(100% - 475px);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-darkgreen);
  font-family: var(--font-inria-serif);
}
.dataHub {
  height: 9734px;
  width: 100%;
  flex-direction: row;
  padding: 0 0 4206px;
  gap: 82px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1700px) {
  .iphone14Pro25 {
    max-width: 100%;
  }
  .macbookPro1425 {
    display: none;
  }
  .dataHub {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1325px) {
  .iphone14Pro25 {
    display: none;
    padding-bottom: 428px;
    box-sizing: border-box;
  }
  .bubbleSortParent {
    justify-content: center;
    padding-left: 79px;
    padding-right: var(--padding-59xl);
    box-sizing: border-box;
  }
  .isometricIphone12MockupParent {
    flex-wrap: wrap;
  }
  .frameParent3 {
    gap: 102px;
  }
  .frameParent1 {
    gap: 195px;
  }
  .rectangleParent {
    gap: 136px;
    padding-bottom: 162px;
    box-sizing: border-box;
  }
  .dataCollector {
    padding-left: var(--padding-45xl);
    padding-right: 326px;
    box-sizing: border-box;
  }
  .frameContainer,
  .frameGroup {
    padding-bottom: 289px;
    box-sizing: border-box;
  }
  .frameGroup {
    height: auto;
    padding-bottom: 852px;
  }
  .macbookPro1425 {
    gap: var(--gap-129xl);
    padding-left: 287px;
    padding-top: 734px;
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .dataHub {
    gap: var(--gap-22xl);
  }
}
@media screen and (max-width: 900px) {
  .iphone14Pro25 {
    padding-bottom: 278px;
    box-sizing: border-box;
  }
  .executives {
    font-size: var(--font-size-19xl);
  }
  .getHeadhunted {
    font-size: var(--font-size-8xl);
  }
  .itsAlwaysFree {
    font-size: var(--font-size-13xl);
  }
  .bubbleSortParent {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .executive {
    font-size: var(--font-size-13xl);
  }
  .empowerYourCareerContainer {
    font-size: var(--font-size-7xl);
  }
  .frameParent2 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .joinToday,
  .recruiters {
    font-size: var(--font-size-13xl);
  }
  .speechBubbleWhiteGreenPngParent {
    padding-left: var(--padding-28xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .frameParent4 {
    gap: var(--gap-xl);
  }
  .recruitersPayToContainer {
    font-size: var(--font-size-37xl);
  }
  .discoverYourNextContainer {
    font-size: var(--font-size-32xl);
  }
  .frameParent3 {
    gap: 51px;
  }
  .frameParent1 {
    gap: 98px;
  }
  .rectangleParent {
    gap: 68px;
    padding-bottom: 105px;
    box-sizing: border-box;
  }
  .postYourJobContainer {
    font-size: var(--font-size-19xl);
  }
  .recruiters3 {
    font-size: var(--font-size-32xl);
  }
  .dataCollector {
    gap: var(--gap-base);
    padding-left: var(--padding-13xl);
    padding-right: 163px;
    box-sizing: border-box;
  }
  .recruiters4 {
    font-size: var(--font-size-19xl);
  }
  .discoverEarlierAndContainer {
    font-size: var(--font-size-21xl);
  }
  .frameParent7 {
    gap: 22px;
  }
  .signUp {
    font-size: var(--font-size-8xl);
  }
  .signUpWrapper {
    padding-left: 86px;
    box-sizing: border-box;
  }
  .payToPlay1 {
    font-size: var(--font-size-13xl);
  }
  .frameParent6 {
    gap: var(--gap-20xl);
  }
  .frameWrapper5 {
    padding-bottom: var(--padding-50xl);
    box-sizing: border-box;
  }
  .frameContainer {
    height: auto;
    gap: 29px;
    padding-bottom: 188px;
    box-sizing: border-box;
  }
  .frameGroup {
    padding-bottom: 554px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-2xl);
  }
  .macbookPro1425 {
    gap: var(--gap-55xl);
    padding-left: 143px;
    padding-top: 477px;
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
  .dataHub {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .iphone14Pro25 {
    height: auto;
  }
  .startEarlyAndContainer {
    font-size: var(--font-size-2xl);
  }
  .executives {
    font-size: var(--font-size-9xl);
  }
  .checkWhatsCurrentlyContainer,
  .getHeadhunted {
    font-size: var(--font-size-xl);
  }
  .variableClusterContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .executive,
  .itsAlwaysFree {
    font-size: var(--font-size-5xl);
  }
  .empowerYourCareerContainer {
    font-size: var(--font-size-lgi);
  }
  .bubbleSpeechBlueWhitePngCParent {
    padding-left: var(--padding-14xl);
    box-sizing: border-box;
  }
  .frameWrapper1 {
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
  .joinToday,
  .recruiters {
    font-size: var(--font-size-5xl);
  }
  .recruitersPayToContainer {
    font-size: var(--font-size-23xl);
  }
  .discoverYourNextContainer {
    font-size: var(--font-size-19xl);
  }
  .frameParent3 {
    gap: var(--gap-7xl);
  }
  .frameParent1 {
    gap: 49px;
  }
  .rectangleParent {
    gap: var(--gap-15xl);
    padding-bottom: 68px;
    box-sizing: border-box;
  }
  .postYourJobContainer {
    font-size: var(--font-size-10xl);
  }
  .frameParent5 {
    gap: 15px;
  }
  .recruiters3 {
    font-size: var(--font-size-19xl);
  }
  .dataCollector {
    padding-top: var(--padding-173xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
  .recruiters4 {
    font-size: var(--font-size-9xl);
  }
  .discoverEarlierAndContainer {
    font-size: var(--font-size-11xl);
  }
  .withSeniorManagerContainer {
    font-size: var(--font-size-2xl);
  }
  .signUp {
    font-size: var(--font-size-xl);
  }
  .signUpWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .increaseExecutiveLeadsContainer {
    font-size: var(--font-size-2xl);
  }
  .streamlineHowYouContainer {
    font-size: var(--font-size-xl);
  }
  .boostYourEfficiencyContainer {
    font-size: var(--font-size-2xl);
  }
  .payToPlay1 {
    font-size: var(--font-size-5xl);
  }
  .frameWrapper7,
  .rectangleParent1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent6 {
    gap: var(--gap-xl);
  }
  .frameWrapper5 {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .frameContainer {
    padding-bottom: var(--padding-103xl);
    box-sizing: border-box;
  }
  .macbookPro1425 {
    gap: var(--gap-18xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .dataHub {
    height: auto;
  }
}
