.frameChild {
  width: 393px;
  height: 461px;
  position: relative;
  background: linear-gradient(180deg, #e8f1fa, #c6d8ec);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.makiarrowIcon,
.ri2Icon {
  position: absolute;
  margin: 0 !important;
}
.makiarrowIcon {
  width: 18px;
  height: 18px;
  right: 208px;
  bottom: -496px;
  overflow: hidden;
  flex-shrink: 0;
}
.ri2Icon {
  height: 99.1px;
  width: 125.5px;
  right: 15.5px;
  bottom: -35.1px;
  object-fit: contain;
  z-index: 6;
}
.frameItem {
  width: 393px;
  height: 887px;
  position: relative;
  background: linear-gradient(180deg, #e8f1fa, #c6d8ec);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.remoteWorkTeamMeetingOnli {
  height: 147.4px;
  width: 166.1px;
  position: relative;
  object-fit: cover;
  display: none;
}
.shadowIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainIcon,
.shadowIcon,
.shadowParent {
  position: absolute;
  top: 0;
  left: 0;
}
.mainIcon {
  width: 42.1px;
  height: 33.9px;
  object-fit: cover;
}
.shadowParent {
  width: 100%;
  height: 100%;
}
.imacProFrontViewMockupLab {
  position: absolute;
  top: 1.4px;
  left: 1.5px;
  width: 38.9px;
  height: 21.8px;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 2;
}
.imacProFrontViewMockup {
  height: 35px;
  width: 42.1px;
  position: relative;
  z-index: 3;
}
.mainIcon1,
.shadowIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainIcon1 {
  top: 0.2px;
  left: 0.2px;
  width: 34.2px;
  height: 47.3px;
}
.shadowGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ipadPro11InchMockupLabe {
  position: absolute;
  top: 1.9px;
  left: 1.8px;
  width: 30.7px;
  height: 43.8px;
  object-fit: contain;
  mix-blend-mode: normal;
  z-index: 2;
}
.ipadPro11InchMockup {
  width: 35.5px;
  height: 48.4px;
  position: relative;
  z-index: 3;
}
.ipadPro11InchMockupWrapper,
.remoteWorkTeamMeetingOnliParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini-5) 0 0;
}
.remoteWorkTeamMeetingOnliParent {
  width: 166.1px;
  margin: 0 !important;
  position: absolute;
  top: 61.1px;
  left: 34.9px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-54xl-9) var(--padding-3xs) var(--padding-2xs-6)
    var(--padding-6xs-9);
  box-sizing: border-box;
  background-image: url(/remote-work-team-meeting-online-communication-and-business-discussion-video-conference-to-link--copy-1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  gap: var(--gap-xl);
  z-index: 2;
}
.isometricIphone12MockupLab,
.mainIcon2 {
  position: absolute;
  top: 0.2px;
  left: 0.2px;
  width: 66.9px;
  height: 41px;
  object-fit: cover;
  display: none;
}
.isometricIphone12MockupLab {
  top: 0.7px;
  left: 1.6px;
  width: 63.9px;
  height: 37px;
  object-fit: contain;
  mix-blend-mode: normal;
}
.isometricIphone12Mockup {
  height: 42.5px;
  width: 73.9px;
  position: relative;
  background-image: url(/isometric-iphone-12-mockup@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 4;
}
.bubbleSpeechBlueWhitePngC {
  width: 185.3px;
  height: 123.4px;
  position: relative;
  object-fit: cover;
  display: none;
}
.executive {
  position: relative;
  display: inline-block;
  text-shadow: 0 1.5px 1.52px rgba(0, 0, 0, 0.25);
  min-width: 73px;
  z-index: 3;
}
.span {
  font-size: var(--font-size-smi-2);
}
.empowerYourCareer {
  margin: 0;
}
.alwaysFreeToday,
.yourExcellenceBegins {
  margin: 0;
  white-space: pre-wrap;
}
.alwaysFreeToday {
  font-size: var(--font-size-smi-2);
}
.empowerYourCareerContainer {
  align-self: stretch;
  position: relative;
  text-shadow: 0 1.5px 1.52px rgba(0, 0, 0, 0.25);
  z-index: 3;
  font-size: var(--font-size-3xs-1);
}
.bubbleSpeechBlueWhitePngCParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-base-6) var(--padding-26xl-1)
    var(--padding-6xl-1);
  gap: var(--gap-12xs-3);
  background-image: url(/bubble-speech-blue-white-png-clip-art-image-1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.componentPropertiesManager {
  position: absolute;
  top: 21.5px;
  left: 33.5px;
  border-radius: var(--br-7xs-6);
  background: linear-gradient(180deg, #bede8e 17.19%, #6c962c);
  box-shadow: 0 2.2px 2.24px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.pharrowUpBoldIcon {
  position: absolute;
  top: 0;
  left: 6.9px;
  width: 20.2px;
  height: 20.2px;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.componentPropertiesManagerParent {
  width: 33.5px;
  height: 21.5px;
  position: relative;
}
.frameWrapper1 {
  flex-direction: column;
  padding: var(--padding-18xl-3) 0 0;
}
.frameContainer,
.frameDiv,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base-4);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-23xl);
  box-sizing: border-box;
  min-width: 152px;
  min-height: 166px;
}
.frameWrapper,
.isometricIphone12MockupParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.isometricIphone12MockupParent {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-14xl-5);
}
.frameWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi-2) 0 var(--padding-12xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs-6);
  background: linear-gradient(180deg, #bede8e 17.19%, #6c962c);
  box-shadow: 0 2.2px 2.24px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: none;
}
.pharrowUpBoldIcon1 {
  position: absolute;
  top: 0;
  left: 6.5px;
  width: 20.2px;
  height: 20.2px;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.rectangleGroup {
  width: 33.5px;
  height: 21.5px;
  position: relative;
  border-radius: var(--br-7xs-6);
  background: linear-gradient(180deg, #bede8e 17.19%, #6c962c);
  box-shadow: 0 2.2px 2.24px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-28xl-2) 0 0;
}
.speechBubbleWhiteGreenPng {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.vgh1Icon {
  width: 152px;
  height: 155px;
  position: absolute;
  margin: 0 !important;
  right: -99px;
  bottom: -41.1px;
  object-fit: cover;
  z-index: 2;
}
.joinToday,
.recruiters {
  position: relative;
  display: inline-block;
  text-shadow: 0 1.5px 1.52px rgba(0, 0, 0, 0.25);
}
.recruiters {
  width: 79px;
  min-width: 79px;
  z-index: 2;
}
.joinToday {
  min-width: 86px;
  z-index: 3;
}
.joinTodayWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xl-9);
  text-align: left;
}
.frameParent2,
.joinTodayWrapper,
.speechBubbleWhiteGreenPngParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.speechBubbleWhiteGreenPngParent {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-16xl-4) var(--padding-8xl-1) var(--padding-16xl)
    var(--padding-17xl-2);
  position: relative;
  gap: var(--gap-12xs-3);
}
.frameParent2 {
  height: 131.4px;
  flex-direction: row;
  gap: var(--gap-base-6);
  flex-shrink: 0;
}
.rectangleDiv,
.rectangleIcon {
  position: absolute;
  margin: 0 !important;
}
.rectangleDiv {
  height: calc(100% - 16.5px);
  width: calc(100% - 5.1px);
  top: 16.65px;
  right: 5.1px;
  bottom: -0.15px;
  left: 0;
  background: linear-gradient(120.54deg, #c6d8ec, #fff 33.85%);
  box-shadow: -0.6px 0.3px 5.68px -0.6px rgba(0, 0, 0, 0.25);
  transform: rotate(-3.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.rectangleIcon {
  height: 75.2px;
  width: 144.7px;
  right: 47.4px;
  bottom: -21.1px;
  border-radius: 12.45px;
  object-fit: contain;
  z-index: 2;
}
.span1 {
  font-size: var(--font-size-2xl-4);
}
.recruiters2,
.span1 {
  white-space: pre-wrap;
}
.recruiters1 {
  margin: 0;
}
.payToPlay {
  margin: 0;
  font-size: var(--font-size-2xl-4);
  white-space: pre-wrap;
}
.recruitersPayToContainer {
  width: 96px;
  position: absolute;
  margin: 0 !important;
  right: 73.8px;
  bottom: -20.32px;
  display: inline-block;
  text-shadow: 0 2.1px 2.14px rgba(0, 0, 0, 0.25);
  transform: rotate(-14deg);
  transform-origin: 0 0;
  z-index: 3;
}
.discoverYourNext {
  margin: 0;
}
.joinUsToday {
  margin: 0;
  white-space: pre-wrap;
}
.discoverYourNextContainer {
  position: relative;
  font-size: var(--font-size-lgi-3);
  color: var(--color-darkslateblue-100);
  text-align: left;
  z-index: 4;
}
.bestWomanHoldingMegaphone {
  height: 96.7px;
  width: 131px;
  position: absolute;
  margin: 0 !important;
  bottom: -6.8px;
  left: -68.8px;
  object-fit: contain;
  z-index: 5;
}
.frameParent1,
.frameWrapper3,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleContainer {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-14xl) var(--padding-5xs-8) var(--padding-14xl)
    var(--padding-lgi-2);
  position: relative;
}
.frameParent1,
.frameWrapper3 {
  box-sizing: border-box;
}
.frameWrapper3 {
  height: 112.9px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-3xl-8);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-6xl-7);
  color: var(--color-white);
  font-family: var(--font-jomhuria);
}
.frameParent1 {
  height: 365.9px;
  flex-direction: column;
  padding: 0 0 var(--padding-215xl-5);
  gap: var(--gap-102xl-6);
  text-align: right;
}
.rectangleParent,
.ri2Parent {
  display: flex;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  background: linear-gradient(180deg, #e8f1fa, #c6d8ec);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-20xl) var(--padding-lgi-2) var(--padding-149xl-1);
  box-sizing: border-box;
  gap: var(--gap-129xl-2);
}
.ri2Parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.allTheirInterest,
.executivesToCommunicate,
.postYourJob {
  margin: 0;
}
.postYourJobContainer {
  align-self: stretch;
  position: relative;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frameChild1 {
  height: 26.9px;
  width: 90.3px;
  position: relative;
  border-radius: 39.46px;
  background-color: var(--color-gray-500);
  box-shadow: 1.5px 3px 7.21px rgba(72, 91, 112, 0.5);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.postJob {
  position: relative;
  display: inline-block;
  text-shadow: 0 0.9px 0.94px rgba(0, 0, 0, 0.25);
  min-width: 44px;
  z-index: 1;
}
.rectangleParent1 {
  flex: 1;
  border-radius: 39.46px;
  background-color: var(--color-gray-500);
  box-shadow: 1.5px 3px 7.21px rgba(72, 91, 112, 0.5);
  border: 1.9px solid var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-8) var(--padding-lgi) var(--padding-6xs-1)
    var(--padding-4xl-6);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.makiarrowIcon1 {
  height: 25.8px;
  width: 25.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameParent3,
.frameWrapper4 {
  display: flex;
  flex-direction: row;
}
.frameParent3 {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs-8);
}
.frameWrapper4 {
  width: 240.1px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-37xl-1) 0 var(--padding-37xl);
  box-sizing: border-box;
  font-size: var(--font-size-xs-3);
  color: var(--color-gray-300);
}
.frameChild2,
.frameChild3 {
  position: absolute;
  margin: 0 !important;
  transform-origin: 0 0;
}
.frameChild2 {
  height: calc(100% - 15.9px);
  width: calc(100% - 8.7px);
  top: 0.01px;
  right: -1.09px;
  bottom: 15.89px;
  left: 9.79px;
  background-color: var(--color-gray-600);
  box-shadow: -0.4px 0.2px 4.05px -0.43px rgba(0, 0, 0, 0.25);
  transform: rotate(7deg);
  z-index: 3;
}
.frameChild3 {
  height: 82.8px;
  width: 134.5px;
  top: -10.9px;
  right: -8.59px;
  background: linear-gradient(248.27deg, #dce6dd, #fff 36.94%);
  box-shadow: -0.4px 0.2px 4.03px -0.42px rgba(0, 0, 0, 0.25);
  transform: rotate(14.3deg);
  z-index: 4;
}
.recruiters3 {
  height: 30.1px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1.9px 1.89px rgba(0, 0, 0, 0.25);
  min-width: 73.6px;
  z-index: 5;
}
.rectangleParent2 {
  width: 143.9px;
  margin: 0 !important;
  position: absolute;
  top: -31.7px;
  right: 15.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-33xl-6) var(--padding-7xl-7) var(--padding-sm-2)
    var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-jomhuria);
}
.frameGroup,
.postYourJobForExecutivesTParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.postYourJobForExecutivesTParent {
  background-color: var(--color-seagreen);
  box-shadow: 0 1.2px 6.17px 3.85px rgba(124, 148, 174, 0.4);
  align-items: flex-end;
  padding: var(--padding-9xl) var(--padding-107xl) var(--padding-2xl-1)
    var(--padding-mini);
  position: relative;
  gap: var(--gap-2xs);
  z-index: 2;
  margin-top: -6px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frameGroup {
  align-items: flex-start;
  max-width: 100%;
}
.businessDoubtChoiceMakeDe,
.unsplashajtiw00qqtiIcon {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.unsplashajtiw00qqtiIcon {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -1px;
  max-height: 100%;
  z-index: 1;
}
.businessDoubtChoiceMakeDe {
  width: 100px;
  height: 100px;
  right: 18.1px;
  bottom: 0.4px;
  z-index: 2;
}
.recruiters4 {
  position: relative;
  display: inline-block;
  text-shadow: 0 1.4px 1.4px rgba(0, 0, 0, 0.25);
  min-width: 98px;
  z-index: 2;
}
.recruitersWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) 0 var(--padding-21xl);
}
.span2 {
  color: var(--color-black);
}
.andMoreQualified,
.discoverEarlier,
.executives {
  margin: 0;
}
.discoverEarlierAndContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-align: center;
  z-index: 2;
}
.frameParent5,
.frameWrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs-5);
}
.frameWrapper5 {
  width: 224px;
  flex-direction: row;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.withSeniorManager {
  margin: 0;
  white-space: pre-wrap;
}
.showAllLevels {
  margin: 0;
}
.span3 {
  font-size: var(--font-size-xs-1);
  white-space: pre-wrap;
}
.youForHelpOnTheirNextMov {
  margin: 0;
}
.withSeniorManagerContainer {
  width: 220px;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.withSeniorManagerExecutivesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi-4);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.frameChild4 {
  height: 36.3px;
  width: 126px;
  position: absolute;
  margin: 0 !important;
  top: -8.4px;
  left: -26px;
  border-radius: 50.99px;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 2px 3.9px 9.32px rgba(72, 91, 112, 0.5);
  z-index: 2;
}
.span4 {
  font-family: var(--font-jomhuria);
}
.signUp {
  height: 44.7px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 3.1px 3.08px rgba(0, 0, 0, 0.25);
  z-index: 3;
}
.rectangleParent3 {
  width: 75.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper6,
.unsplashajtiw00qqtiParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameWrapper6 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  font-size: var(--font-size-base-9);
  color: var(--color-white);
}
.unsplashajtiw00qqtiParent {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-27xl-5) var(--padding-59xl) var(--padding-mini-3);
  position: relative;
  gap: var(--gap-base);
}
.frameChild5,
.frameChild6 {
  position: relative;
  display: none;
}
.frameChild5 {
  width: 394px;
  height: 608px;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  z-index: 0;
}
.frameChild6 {
  height: 115.5px;
  width: 278px;
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
  box-sizing: border-box;
}
.manageAndCommunicate,
.streamlineHowYou {
  margin: 0;
}
.streamlineHowYouContainer {
  width: 262px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frameChild7,
.rectangleParent5 {
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
}
.rectangleParent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-8xs) var(--padding-15xl-5);
  z-index: 1;
}
.frameChild7 {
  height: 115.5px;
  width: 278px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.increaseExecutive,
.leadsBy80 {
  margin: 0;
}
.increaseExecutiveLeadsContainer {
  width: 196px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frameChild8,
.rectangleParent6 {
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
}
.rectangleParent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl-3) var(--padding-18xl) var(--padding-9xl-2)
    var(--padding-19xl);
  z-index: 1;
  font-size: var(--font-size-3xl);
}
.frameChild8 {
  height: 115.5px;
  width: 278px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.andBottomLine,
.boostYourEfficiency {
  margin: 0;
}
.boostYourEfficiencyContainer {
  width: 214px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.rectangleParent7 {
  align-self: stretch;
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl-6) var(--padding-8xl) var(--padding-10xl-9)
    var(--padding-12xl);
  z-index: 1;
  font-size: var(--font-size-2xl-5);
}
.investorPartnershipAgreement,
.payToPlay1 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.payToPlay1 {
  width: 308.6px;
  height: 63px;
  right: -32.6px;
  bottom: 27px;
  font-size: var(--font-size-9xl-3);
  display: inline-block;
  color: var(--color-gray-200);
  text-align: left;
}
.investorPartnershipAgreement {
  width: 356px;
  height: 236.5px;
  bottom: -230.5px;
  left: 18px;
  object-fit: cover;
}
.rectangleParent4 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  padding: var(--padding-35xl) var(--padding-38xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-15xl-2);
  margin-top: -0.4px;
  text-align: center;
  font-size: var(--font-size-2xl-3);
  color: var(--color-darkgreen);
}
.frameParent,
.frameParent4,
.rectangleParent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent4 {
  align-self: stretch;
  height: 898px;
  font-size: var(--font-size-lg);
  color: var(--color-steelblue-200);
}
.frameParent {
  width: 414.1px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.linkedinLogo201120191Icon {
  height: 46.6px;
  width: 22.4px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.vectorIcon {
  width: 20px;
  height: 22px;
  position: relative;
  z-index: 1;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.logosyoutubeIcon {
  align-self: stretch;
  height: 19.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.logosyoutubeWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-7) 0 0;
}
.frameWrapper7,
.linkedinLogo201120191Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.linkedinLogo201120191Parent {
  width: 145.5px;
  justify-content: flex-start;
  gap: var(--gap-4xs-3);
}
.frameWrapper7 {
  width: 344.5px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.aboutUs {
  width: 150.8px;
  height: 28px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.aboutUsWrapper {
  width: 72.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.lineDiv {
  width: 0.5px;
  height: 25px;
  position: relative;
  border-right: 0.5px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.lineWrapper {
  height: 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.contactUs {
  width: 150.8px;
  height: 28px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.contactUsWrapper {
  width: 81.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.frameChild9 {
  width: 0.5px;
  height: 25px;
  position: relative;
  border-right: 0.5px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.lineContainer {
  height: 24.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm-5) 0 0;
  box-sizing: border-box;
}
.insights {
  height: 28px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 50.8px;
  debug_commit: f6aba90;
  z-index: 3;
}
.frameParent8,
.frameWrapper8,
.insightsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.frameParent8,
.frameWrapper8 {
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 0;
}
.frameWrapper8 {
  padding: 0 var(--padding-47xl);
  box-sizing: border-box;
  max-width: 100%;
}
.variableHolder {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.background5Icon {
  height: 19.6px;
  width: 81px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.privacy,
.terms {
  height: 33.5px;
  flex: 1;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.privacy {
  margin-left: -4px;
}
.termsParent {
  width: 117px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.dataSink,
.phcopyrightLightIcon {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.phcopyrightLightIcon {
  height: 8.4px;
  width: 8.4px;
  overflow: hidden;
}
.dataSink {
  display: inline-block;
  min-width: 24px;
}
.frameWrapper10,
.phcopyrightLightParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phcopyrightLightParent {
  flex-direction: row;
  gap: var(--gap-12xs-6);
}
.frameWrapper10 {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  font-size: var(--font-size-2xs-2);
  font-family: var(--font-inter);
}
.background5Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame,
.frameParent6,
.frameParent7,
.frameWrapper9 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper9 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xl) 0 var(--padding-7xl);
  box-sizing: border-box;
  font-size: var(--font-size-smi-2);
}
.frame,
.frameParent6,
.frameParent7 {
  flex-direction: column;
}
.frameParent7 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xl-3);
}
.frame,
.frameParent6 {
  box-sizing: border-box;
}
.frameParent6 {
  width: 413px;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-10xl-4);
  font-size: var(--font-size-sm);
  color: var(--color-darkslateblue-100);
}
.frame {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-275xl-5);
  position: relative;
  gap: var(--gap-255xl);
  z-index: 1;
  text-align: left;
  font-size: 15.2px;
  color: var(--color-gray-100);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 1325px) {
  .frame {
    padding-bottom: var(--padding-105xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .frameParent1,
  .rectangleParent {
    padding-bottom: var(--padding-133xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-90xl);
  }
  .frame,
  .rectangleParent4 {
    padding-bottom: var(--padding-16xl);
    box-sizing: border-box;
  }
  .frame {
    padding-bottom: var(--padding-62xl);
  }
}
@media screen and (max-width: 450px) {
  .isometricIphone12MockupParent {
    gap: var(--gap-mid);
  }
  .recruitersPayToContainer {
    font-size: var(--font-size-mid);
  }
  .frameParent1 {
    gap: var(--gap-42xl);
  }
  .rectangleParent {
    gap: var(--gap-55xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
  .postYourJobContainer {
    font-size: var(--font-size-base);
  }
  .recruiters3 {
    font-size: var(--font-size-2xl);
  }
  .postYourJobForExecutivesTParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .discoverEarlierAndContainer {
    font-size: var(--font-size-base);
  }
  .unsplashajtiw00qqtiParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .streamlineHowYouContainer {
    font-size: var(--font-size-mid);
  }
  .increaseExecutiveLeadsContainer {
    font-size: var(--font-size-lg);
  }
  .boostYourEfficiencyContainer {
    font-size: var(--font-size-mid);
  }
  .payToPlay1 {
    font-size: var(--font-size-4xl);
  }
  .rectangleParent4 {
    gap: var(--gap-mid);
  }
  .frameWrapper8,
  .rectangleParent4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame {
    gap: var(--gap-118xl);
  }
}
