.frameInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-90xl-6);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-jomhuria);
}
.imacMockupLabel {
  position: absolute;
  top: 22px;
  left: 109.2px;
  width: 65.1px;
  height: 51px;
  object-fit: contain;
  mix-blend-mode: normal;
}
.conditionalSplit {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 123.3px;
  width: 183.9px;
  overflow: hidden;
  background-image: url(/conditional-split@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.frameItem {
  height: 54.2px;
  width: 133.9px;
  position: relative;
  border-radius: 5.49px;
  background-color: var(--color-steelblue-300);
  box-shadow: 0 0.3px 0.33px rgba(0, 0, 0, 0.25);
  display: none;
}
.onePlaceFor {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.rectangleParent {
  position: absolute;
  top: 34.1px;
  left: 0;
  border-radius: 5.49px;
  background-color: var(--color-steelblue-300);
  box-shadow: 0 0.3px 0.33px rgba(0, 0, 0, 0.25);
  width: 133.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-2) var(--padding-xs-2) var(--padding-2xs);
  box-sizing: border-box;
  z-index: 2;
}
.conditionalSplitParent {
  align-self: stretch;
  height: 122.3px;
  position: relative;
}
.mockuuupsGooglePixel6MockuIcon {
  height: 116.2px;
  width: 188.6px;
  position: absolute;
  margin: 0 !important;
  bottom: -18.3px;
  left: -183.1px;
  border-radius: 2.85px;
  object-fit: cover;
  z-index: 1;
}
.rectangleDiv {
  height: 88.3px;
  width: 124px;
  position: relative;
  border-radius: 5.49px;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0.3px 0.33px rgba(0, 0, 0, 0.25);
  display: none;
}
.includingManagingAll {
  font-weight: 500;
}
.confidentially1 {
  font-weight: 600;
}
.span {
  font-weight: 500;
  font-family: var(--font-inter);
}
.confidentially {
  color: var(--color-orange);
}
.includingManagingAllContainer {
  flex: 1;
  position: relative;
  z-index: 3;
}
.rectangleGroup {
  flex: 1;
  border-radius: 5.49px;
  background-color: var(--color-steelblue-100);
  box-shadow: 0 0.3px 0.33px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  padding: var(--padding-4xl-8) var(--padding-10xs) var(--padding-12xl-5)
    var(--padding-mini-9);
  z-index: 2;
}
.frameWrapper,
.mockuuupsGooglePixel6MockuParent,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mockuuupsGooglePixel6MockuParent {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper {
  width: 163.8px;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi-9) 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameGroup,
.frameIcon {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid-3);
}
.frameIcon {
  height: 24.1px;
  width: 53.9px;
  position: relative;
  z-index: 1;
}
.frameContainer {
  width: 284.7px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameChild,
.frameContainer,
.frameParent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-37xl-2);
}
.frameChild {
  width: 370px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl-4) var(--padding-96xl-3) var(--padding-12xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-3xs-3);
  font-family: var(--font-inter);
}
.orFindRecruiters,
.pickAndChoose {
  margin: 0;
  white-space: pre-wrap;
}
.toHelpYour {
  margin: 0;
}
.pickAndChooseContainer {
  width: 451px;
  position: absolute;
  margin: 0 !important;
  bottom: 1368.3px;
  left: 0;
  font-size: var(--font-size-smi-8);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 3;
}
.businessChallengeToAchieve {
  height: 75px;
  width: 112.5px;
  position: absolute;
  margin: 0 !important;
  top: -5.5px;
  left: 62px;
  object-fit: contain;
  z-index: 6;
}
.stayInFull {
  position: relative;
  text-shadow: 0 1.5px 1.53px rgba(0, 0, 0, 0.25);
}
.stayInFullControlOfYourJWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs-3);
}
.itsNeverToo {
  margin: 0;
}
.seniorManagerJob {
  margin: 0;
  white-space: pre-wrap;
}
.letsYouCommunicate {
  margin: 0;
}
.itsNeverTooContainer {
  position: relative;
  font-size: var(--font-size-2xs-4);
  font-weight: 700;
  text-align: center;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-7);
}
.frameChild1 {
  height: 26px;
  width: 106.2px;
  position: relative;
  border-radius: 3.97px;
  background-color: var(--color-white);
  box-shadow: 0 1.1px 1.09px rgba(0, 0, 0, 0.25);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.findJob {
  position: relative;
  display: inline-block;
  text-shadow: 0 0.8px 0.83px rgba(0, 0, 0, 0.25);
  min-width: 39px;
  z-index: 1;
}
.findJobWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-3) 0 0;
}
.makiarrowIcon {
  height: 15.1px;
  width: 15.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 15px;
  z-index: 1;
}
.frameWrapper1,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleContainer {
  border-radius: 3.97px;
  background-color: var(--color-white);
  box-shadow: 0 1.1px 1.09px rgba(0, 0, 0, 0.25);
  border: 0.3px solid var(--color-black);
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-2xl-9) var(--padding-7xs-4);
  gap: var(--gap-6xs);
}
.frameWrapper1 {
  width: 308.8px;
  justify-content: center;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-300);
}
.frameChild2,
.rateLimiter {
  position: absolute;
  margin: 0 !important;
  transform-origin: 0 0;
}
.rateLimiter {
  height: calc(100% - 30.5px);
  width: calc(100% - 16.3px);
  top: 0;
  right: -3.96px;
  bottom: 30.5px;
  left: 20.26px;
  background: linear-gradient(120.54deg, #dde7dd, #fff 33.85%);
  box-shadow: -0.4px 0.2px 4.16px -0.44px rgba(0, 0, 0, 0.25);
  transform: rotate(13.7deg);
  z-index: 4;
}
.frameChild2 {
  height: 82.5px;
  width: 139.4px;
  top: -46.59px;
  right: -36.45px;
  background-color: var(--color-gray-600);
  box-shadow: -0.4px 0.2px 4.18px -0.44px rgba(0, 0, 0, 0.25);
  transform: rotate(6.4deg);
  z-index: 3;
}
.executives {
  position: relative;
  display: inline-block;
  text-shadow: 0 2.1px 2.08px rgba(0, 0, 0, 0.25);
  min-width: 77px;
  z-index: 5;
}
.rectangleParent1 {
  flex-direction: row;
  position: relative;
}
.frameParent1,
.rateLimiterParent,
.rectangleParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rateLimiterParent {
  margin: 0 !important;
  position: absolute;
  top: -69.5px;
  left: 43px;
  flex-direction: row;
  padding: var(--padding-38xl-9) var(--padding-18xl-9) var(--padding-9xl-9);
  font-size: var(--font-size-9xl-6);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-jomhuria);
}
.frameParent1 {
  align-self: stretch;
  border-radius: 1.09px;
  background-color: var(--color-steelblue-200);
  box-shadow: 0 1.1px 5.81px 3.63px rgba(124, 148, 174, 0.4);
  flex-direction: column;
  padding: var(--padding-46xl) var(--padding-17xl-3) var(--padding-8xl)
    var(--padding-19xl-7);
  position: relative;
  gap: var(--gap-xl-3);
  z-index: 2;
}
.memoryLossForgetThingsTo,
.unsplashajtiw00qqtiIcon {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.unsplashajtiw00qqtiIcon {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -2px;
  max-height: 100%;
  z-index: 1;
}
.memoryLossForgetThingsTo {
  width: 141px;
  height: 122.7px;
  right: -11px;
  bottom: 0.1px;
  z-index: 2;
}
.executives1 {
  position: relative;
  display: inline-block;
  text-shadow: 0 1.6px 1.59px rgba(0, 0, 0, 0.25);
  min-width: 113px;
  z-index: 2;
}
.executivesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl) 0 var(--padding-40xl-6);
}
.span1 {
  color: var(--color-black);
}
.letTheRecruitersKnow,
.youreOpenTo {
  margin: 0;
}
.letTheRecruitersContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xl-7);
  font-weight: 700;
  text-align: center;
  z-index: 2;
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-1);
}
.frameChild3 {
  height: 36.3px;
  width: 126px;
  position: absolute;
  margin: 0 !important;
  top: -10px;
  left: -16px;
  border-radius: 50.99px;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 2px 3.9px 9.32px rgba(72, 91, 112, 0.5);
  z-index: 2;
}
.getHeadhunted {
  height: 32.8px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 0 2.3px 2.26px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  z-index: 3;
}
.frameWrapper2,
.rectangleParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent2 {
  width: 114.3px;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-36xl);
  font-size: var(--font-size-smi-4);
  color: var(--color-white);
}
.unsplashajtiw00qqtiParent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-55xl-3) var(--padding-7xl)
    var(--padding-56xl-7);
  box-sizing: border-box;
  gap: var(--gap-89xl-9);
  font-size: var(--font-size-xl-5);
  color: var(--color-steelblue-200);
}
.businessChallengeToAchieveParent,
.frameDiv {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.frameDiv {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-50xl-5) 0 var(--padding-50xl) 0;
  box-sizing: border-box;
}
.businessChallengeToAchieveParent {
  height: 547.3px;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-lg-4);
}
.frameChild4,
.frameChild5 {
  position: relative;
  display: none;
}
.frameChild4 {
  width: 394px;
  height: 617px;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.frameChild5 {
  height: 115.5px;
  width: 278px;
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
  box-sizing: border-box;
}
.checkWhats {
  margin: 0;
  white-space: pre-wrap;
}
.happening {
  margin: 0;
}
.checkWhatsCurrentlyContainer {
  width: 250px;
  position: relative;
  display: inline-block;
  z-index: 6;
}
.frameChild6,
.rectangleParent4 {
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
}
.rectangleParent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-4xs) var(--padding-13xl-5)
    var(--padding-smi);
  z-index: 5;
}
.frameChild6 {
  height: 115.5px;
  width: 278px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.startEarlyAnd,
.stayAhead {
  margin: 0;
}
.startEarlyAndContainer {
  width: 160px;
  position: relative;
  display: inline-block;
  z-index: 6;
}
.frameChild7,
.rectangleParent5 {
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
}
.rectangleParent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl-3) var(--padding-36xl) var(--padding-7xl-2)
    var(--padding-38xl);
  z-index: 5;
}
.frameChild7 {
  height: 115.5px;
  width: 278px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.takeFullControl {
  width: 171px;
  position: relative;
  display: inline-block;
  z-index: 6;
}
.frameParent5,
.rectangleParent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent6 {
  align-self: stretch;
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 3.4px 3.42px rgba(0, 0, 0, 0.25);
  border: 3.4px solid var(--color-seagreen);
  flex-direction: row;
  padding: var(--padding-25xl-6) var(--padding-30xl) var(--padding-24xl-9)
    var(--padding-32xl);
  white-space: nowrap;
  z-index: 5;
}
.frameParent5 {
  width: 278px;
  flex-direction: column;
  gap: var(--gap-15xl-2);
}
.itsAlwaysFree {
  width: 308.6px;
  height: 63px;
  position: relative;
  font-size: var(--font-size-9xl-3);
  display: inline-block;
  color: var(--color-gray-200);
  text-align: left;
  flex-shrink: 0;
  z-index: 5;
}
.rectangleParent3 {
  align-self: stretch;
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  align-items: flex-start;
  padding: var(--padding-44xl) var(--padding-xl) var(--padding-8xl)
    var(--padding-37xl);
  box-sizing: border-box;
  gap: var(--gap-30xl-1);
  max-width: 100%;
  z-index: 4;
}
.frame,
.frameParent4,
.rectangleParent3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent4 {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl-4);
  color: var(--color-darkgreen);
}
.frame {
  margin-left: -32px;
  width: 451px;
  overflow: hidden;
  align-items: flex-end;
  padding: 0 var(--padding-6xl-8);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-12xs-2);
  flex-shrink: 0;
  debug_commit: f6aba90;
  text-align: left;
  font-size: var(--font-size-base-7);
  color: var(--color-white);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 1325px) {
  .frameInner {
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .rectangleParent3 {
    padding-top: var(--padding-22xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameInner {
    padding-bottom: var(--padding-27xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-9xl);
  }
  .frameChild {
    padding-bottom: var(--padding-56xl);
    box-sizing: border-box;
  }
  .executives {
    font-size: var(--font-size-4xl);
  }
  .executives1 {
    font-size: var(--font-size-base);
  }
  .letTheRecruitersContainer {
    font-size: var(--font-size-mid);
  }
  .unsplashajtiw00qqtiParent {
    gap: var(--gap-35xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .checkWhatsCurrentlyContainer,
  .startEarlyAndContainer {
    font-size: var(--font-size-lg);
  }
  .rectangleParent5,
  .rectangleParent6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent5 {
    gap: var(--gap-mid);
  }
  .itsAlwaysFree {
    font-size: var(--font-size-4xl);
  }
  .rectangleParent3 {
    gap: var(--gap-6xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
