.frameChild,
.frameItem {
  position: relative;
  display: none;
}
.frameChild {
  width: 299.1px;
  height: 178.9px;
  background-color: var(--color-gray-600);
  box-shadow: -1px 0.5px 9.41px -0.99px rgba(0, 0, 0, 0.25);
  transform: rotate(-14.6deg);
}
.frameItem {
  width: 294.5px;
  height: 181.2px;
  background: linear-gradient(180deg, #dae4db, #fff 35.42%);
  box-shadow: -0.9px 0.5px 8.83px -0.93px rgba(0, 0, 0, 0.25);
  transform: rotate(-4.8deg);
}
.investorPartnershipAgreement {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.linkedinLogo201120191Icon {
  height: 61px;
  width: 29.4px;
  position: relative;
  object-fit: cover;
}
.vectorIcon {
  width: 28px;
  height: 28.8px;
  position: relative;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-5) 0 0;
}
.logosyoutubeIcon {
  align-self: stretch;
  height: 25.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logosyoutubeWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
}
.frameWrapper,
.linkedinLogo201120191Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.linkedinLogo201120191Parent {
  width: 204.3px;
  justify-content: flex-start;
  gap: var(--gap-base-8);
}
.frameWrapper {
  width: 511.5px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.investorPartnershipAgreementParent {
  width: 579.9px;
  height: 468px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl-7);
  max-width: 100%;
}
.aboutUs {
  align-self: stretch;
  height: 56px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.aboutUsWrapper {
  width: 301.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.frameInner {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineWrapper {
  height: 49px;
  width: 184.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -155.9px;
}
.contactUs {
  align-self: stretch;
  height: 56px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.contactUsWrapper {
  width: 301.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  margin-left: -155.9px;
}
.frameDiv,
.lineDiv {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameDiv {
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lineDiv {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  z-index: 2;
}
.lineContainer {
  height: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.insights {
  align-self: stretch;
  height: 56px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.insightsWrapper {
  width: 301.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.frameGroup {
  flex-direction: row;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
}
.frameContainer,
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 100%;
}
.frameParent {
  margin-top: -668px;
  width: 743.9px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.background1Icon,
.frameChild1 {
  align-self: stretch;
  position: relative;
}
.frameChild1 {
  height: 1px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.background1Icon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background1Wrapper {
  height: 52.3px;
  width: 200.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.privacy,
.terms {
  height: 77px;
  flex: 1;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
}
.termsParent {
  width: 317.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-50xl-1) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.phcopyrightLightIcon {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.frameWrapper2,
.phcopyrightLightParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phcopyrightLightParent {
  flex-direction: row;
  gap: var(--gap-12xs);
}
.frameWrapper2 {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
}
.frameParent1,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent1 {
  width: 1320px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper1 {
  width: 1502px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.lineParent,
.rectangleParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.lineParent {
  margin-right: -324.10000000000036px;
  width: 1513px;
  align-items: flex-start;
  gap: var(--gap-16xl);
  debug_commit: f6aba90;
}
.rectangleParent {
  align-self: stretch;
  height: 711px;
  background: linear-gradient(180deg, #e8f1fa, #c6d8ec);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-568xl) var(--padding-304xl-1) var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-62xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 1325px) {
  .frameGroup,
  .frameParent1 {
    flex-wrap: wrap;
  }
  .rectangleParent {
    height: auto;
    padding-top: var(--padding-173xl);
    padding-right: var(--padding-142xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .frameParent {
    gap: var(--gap-11xl);
  }
  .lineParent {
    gap: var(--gap-mid);
  }
  .rectangleParent {
    gap: var(--gap-21xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs,
  .contactUs,
  .insights,
  .privacy,
  .terms {
    font-size: var(--font-size-3xl);
  }
  .rectangleParent,
  .termsParent {
    gap: var(--gap-base);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: var(--gap-xl);
  }
}
