.imacMockupLabel {
  position: absolute;
  top: 66.5px;
  left: 330.2px;
  width: 196.9px;
  height: 154.3px;
  object-fit: contain;
  mix-blend-mode: normal;
}
.div {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 373px;
  width: 556.1px;
  overflow: hidden;
  background-image: url(/@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.frameChild,
.onePlaceFor {
  position: relative;
  max-width: 100%;
}
.frameChild {
  height: 164px;
  width: 404.8px;
  border-radius: var(--br-base-6);
  background-color: var(--color-steelblue-300);
  box-shadow: 0 1px 0.99px rgba(0, 0, 0, 0.25);
  display: none;
}
.onePlaceFor {
  flex: 1;
  font-weight: 500;
  display: inline-block;
  z-index: 3;
}
.rectangleParent {
  position: absolute;
  top: 103px;
  left: 0;
  border-radius: var(--br-base-6);
  background-color: var(--color-steelblue-300);
  box-shadow: 0 1px 0.99px rgba(0, 0, 0, 0.25);
  width: 404.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.parent1 {
  align-self: stretch;
  height: 369.9px;
  position: relative;
  max-width: 100%;
}
.mockuuupsGooglePixel6MockuIcon {
  height: 351.3px;
  width: 570.5px;
  position: absolute;
  margin: 0 !important;
  bottom: -55.3px;
  left: -554px;
  border-radius: 8.61px;
  object-fit: cover;
  z-index: 1;
}
.frameItem {
  height: 267px;
  width: 375px;
  position: relative;
  border-radius: var(--br-base-6);
  background-color: var(--color-steelblue-100);
  box-shadow: 0 1px 0.99px rgba(0, 0, 0, 0.25);
  display: none;
  max-width: 100%;
}
.includingManagingAll {
  font-weight: 500;
}
.confidentially1 {
  font-weight: 600;
}
.span {
  font-weight: 500;
  font-family: var(--font-inter);
}
.confidentially {
  color: var(--color-orange);
}
.includingManagingAllContainer {
  width: 320px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.mockuuupsGooglePixel6MockuParent,
.rectangleGroup {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  border-radius: var(--br-base-6);
  background-color: var(--color-steelblue-100);
  box-shadow: 0 1px 0.99px rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
  padding: var(--padding-53xl) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
}
.mockuuupsGooglePixel6MockuParent {
  justify-content: flex-start;
  position: relative;
}
.frameGroup,
.frameWrapper {
  display: flex;
  max-width: 100%;
}
.frameWrapper {
  width: 495.2px;
  height: 267px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-41xl-1) 0 var(--padding-41xl);
  box-sizing: border-box;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-33xl-1);
}
.frameInner {
  height: 73px;
  width: 163px;
  position: relative;
  z-index: 1;
}
.frameContainer {
  width: 839px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameContainer,
.frameParent,
.functionComposerInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 929.1px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-151xl);
}
.functionComposerInner {
  width: 1424.9px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-88xl-4);
  box-sizing: border-box;
}
.stayInFull {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 58.67px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.itsNeverToo {
  margin: 0;
}
.seniorManagerJob {
  margin: 0;
  white-space: pre-wrap;
}
.letsYouCommunicate {
  margin: 0;
}
.itsNeverTooContainer {
  height: 96px;
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
}
.itsNeverTooEarlyToBeginWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-8xl);
}
.rectangleDiv {
  height: 95px;
  width: 388px;
  position: relative;
  border-radius: 14.52px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1.1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.findJob {
  position: relative;
  text-shadow: 0 3px 3.03px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.findJobWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.makiarrowIcon {
  height: 55px;
  width: 55px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameWrapper2,
.rectangleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleContainer {
  border-radius: 14.52px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1.1px solid var(--color-black);
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-61xl);
  gap: var(--gap-7xl);
}
.frameWrapper2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 0 var(--padding-5xs);
  font-size: var(--font-size-17xl-4);
  color: var(--color-gray-300);
}
.businessChallengeToAchieve {
  width: 296px;
  height: 197.3px;
  position: absolute;
  margin: 0 !important;
  top: -124px;
  left: 90px;
  object-fit: contain;
  z-index: 13;
}
.frameWrapper1,
.stayInFullControlOfYourJParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.stayInFullControlOfYourJParent {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue-200);
  box-shadow: 29px 3px 16px 10px rgba(54, 83, 116, 0.4);
  padding: var(--padding-34xl) var(--padding-180xl) var(--padding-23xl)
    var(--padding-448xl);
  position: relative;
  gap: var(--gap-20xl);
  z-index: 9;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inria-serif);
}
.frameWrapper1 {
  width: 1512px;
  padding: var(--padding-62xl-6) 0 0;
}
.frameChild1,
.frameChild2 {
  position: absolute;
  margin: 0 !important;
  transform-origin: 0 0;
}
.frameChild1 {
  height: calc(100% - 70.4px);
  width: calc(100% - 37.7px);
  top: -0.01px;
  right: -9.14px;
  bottom: 70.41px;
  left: 46.84px;
  background: linear-gradient(120.54deg, #dde7dd, #fff 33.85%);
  box-shadow: -1px 0.5px 9.6px -1.01px rgba(0, 0, 0, 0.25);
  transform: rotate(13.7deg);
  z-index: 11;
}
.frameChild2 {
  height: 190.6px;
  width: 322px;
  top: -107.81px;
  right: -84.08px;
  background-color: var(--color-gray-600);
  box-shadow: -1px 0.5px 9.65px -1.02px rgba(0, 0, 0, 0.25);
  transform: rotate(6.4deg);
  z-index: 10;
}
.executives {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 0 4.8px 4.8px rgba(0, 0, 0, 0.25);
  z-index: 12;
}
.frameParent1,
.rectangleParent1,
.rectangleParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent2 {
  justify-content: flex-start;
  position: relative;
}
.frameParent1,
.rectangleParent1 {
  max-width: 100%;
}
.rectangleParent1 {
  width: 358.2px;
  justify-content: center;
  padding: var(--padding-114xl-8) var(--padding-xl) var(--padding-48xl-8);
  box-sizing: border-box;
  position: relative;
  margin-left: -1447.7px;
}
.frameParent1 {
  align-self: stretch;
  justify-content: flex-start;
}
.span1 {
  color: var(--color-black);
}
.letTheRecruitersKnow,
.youreOpenTo {
  margin: 0;
}
.letTheRecruitersContainer {
  width: 557px;
  position: relative;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  z-index: 9;
}
.letTheRecruitersKnowYoureWrapper {
  width: 1025px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.orFindRecruiters,
.pickAndChoose {
  margin: 0;
  white-space: pre-wrap;
}
.toHelpYour {
  margin: 0;
}
.pickAndChooseContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-10xl-5);
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  z-index: 9;
}
.frameParent2 {
  width: 1042px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl-5);
  max-width: 100%;
}
.frameWrapper3 {
  width: 1413.4px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-30xl-9);
  color: var(--color-steelblue-200);
  font-family: var(--font-inria-serif);
}
.frameDiv,
.frameWrapper3,
.functionComposerChild {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-89xl-5);
}
.functionComposerChild {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-47xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-jomhuria);
}
.functionComposer {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-231xl);
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1325px) {
  .frameParent {
    gap: var(--gap-66xl);
  }
  .stayInFullControlOfYourJParent {
    padding-left: var(--padding-214xl);
    padding-right: var(--padding-80xl);
    box-sizing: border-box;
  }
  .functionComposer {
    gap: var(--gap-106xl);
  }
}
@media screen and (max-width: 900px) {
  .frameWrapper {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .stayInFull {
    font-size: var(--font-size-19xl);
  }
  .findJob {
    font-size: var(--font-size-10xl);
  }
  .rectangleContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .stayInFullControlOfYourJParent {
    gap: var(--gap-lgi);
    padding-left: var(--padding-97xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .executives {
    font-size: var(--font-size-34xl);
  }
  .letTheRecruitersContainer {
    font-size: var(--font-size-21xl);
  }
  .frameDiv {
    gap: var(--gap-35xl);
  }
  .functionComposer {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 450px) {
  .includingManagingAllContainer,
  .onePlaceFor {
    font-size: var(--font-size-3xl);
  }
  .frameGroup {
    gap: var(--gap-7xl);
  }
  .frameParent {
    gap: var(--gap-23xl);
  }
  .stayInFull {
    font-size: var(--font-size-10xl);
  }
  .findJob,
  .itsNeverTooContainer {
    font-size: var(--font-size-3xl);
  }
  .rectangleContainer,
  .stayInFullControlOfYourJParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .executives {
    font-size: var(--font-size-21xl);
  }
  .letTheRecruitersContainer {
    font-size: var(--font-size-11xl);
  }
  .pickAndChooseContainer {
    font-size: var(--font-size-5xl);
  }
  .frameDiv {
    gap: var(--gap-8xl);
  }
  .functionComposer {
    gap: var(--gap-12xl);
  }
}
