.seasonedExecutiveWith {
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
}
.p {
  margin: 0;
}
.eagerToConnect {
  margin: 0;
  color: var(--color-darkslateblue-200);
}
.eagerToConnectContainer {
  height: 152px;
  width: 632px;
  position: absolute;
  margin: 0 !important;
  right: -13px;
  bottom: -130px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-weight: 700;
  z-index: 1;
  color: var(--color-darkslateblue-300);
}
.seasonedExecutiveWithAProvParent {
  width: 621px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.connectWithRecruiters {
  width: 263px;
  position: relative;
  display: inline-block;
  font-weight: 700;
}
.distanceCalculator {
  height: 63px;
  width: 252px;
  position: relative;
  border-radius: 8.85px;
  background: linear-gradient(180deg, #bede8e 18.02%, #6c962c);
  box-shadow: 4px 8px 10.9px rgba(0, 0, 0, 0.37);
  display: none;
}
.connect {
  position: relative;
  z-index: 1;
}
.distanceCalculatorParent,
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.distanceCalculatorParent {
  border-radius: 8.85px;
  background: linear-gradient(180deg, #bede8e 18.02%, #6c962c);
  box-shadow: 4px 8px 10.9px rgba(0, 0, 0, 0.37);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-38xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frameContainer {
  flex-direction: column;
  padding: var(--padding-4xl) 0 0;
}
.shadowIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainIcon,
.shadowIcon,
.shadowParent {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mainIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.shadowParent {
  margin: 0 !important;
}
.iphone15ProPortraitRightM1 {
  height: 300.8px;
  width: 109.3px;
  position: relative;
  object-fit: contain;
  mix-blend-mode: normal;
  z-index: 2;
}
.frameGroup,
.frameWrapper,
.iphone15ProPortraitRightM {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.iphone15ProPortraitRightM {
  width: 126.4px;
  justify-content: flex-start;
  padding: var(--padding-8xs-7) var(--padding-10xs-6) var(--padding-6xs-1);
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.frameGroup,
.frameWrapper {
  max-width: 100%;
}
.frameGroup {
  width: 619.4px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.connectWithRecruitersParent,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.connectWithRecruitersParent {
  align-self: stretch;
  gap: var(--gap-12xl);
  max-width: 100%;
  text-align: center;
  color: var(--color-steelblue-200);
}
.frameParent {
  width: 797.4px;
  flex-shrink: 0;
  gap: var(--gap-120xl);
}
.shadowIcon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainIcon1,
.shadowGroup,
.shadowIcon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mainIcon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.shadowGroup {
  margin: 0 !important;
}
.freeHandHoldingIphone12Mi1 {
  height: 353px;
  width: 163.9px;
  position: relative;
  object-fit: contain;
  mix-blend-mode: normal;
  z-index: 2;
}
.freeHandHoldingIphone12Mi {
  width: 450.8px;
  margin: 0 !important;
  position: absolute;
  bottom: -496.4px;
  left: -307px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-7) var(--padding-44xl-4) var(--padding-333xl-7);
  box-sizing: border-box;
}
.shadowIcon2 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainIcon2,
.shadowContainer,
.shadowIcon2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mainIcon2 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.shadowContainer {
  margin: 0 !important;
}
.iphone15ProPortraitLeftMo1 {
  height: 316.6px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  mix-blend-mode: normal;
  z-index: 2;
}
.iphone15ProPortraitLeftMo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-9xs) var(--padding-6xs-4)
    var(--padding-mini-1);
  position: relative;
  z-index: 3;
}
.iphone15ProPortraitLeftMoWrapper,
.macbookPro1425 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.iphone15ProPortraitLeftMoWrapper {
  width: 132.8px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0 0;
}
.macbookPro1425 {
  width: 1512px;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-179xl) var(--padding-134xl) var(--padding-177xl-4)
    var(--padding-103xl);
  background-image: url(/macbook-pro-14--25@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue-200);
  font-family: var(--font-inria-serif);
}
@media screen and (max-width: 1325px) {
  .macbookPro1425 {
    padding: var(--padding-173xl) var(--padding-57xl) var(--padding-109xl)
      var(--padding-42xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .eagerToConnectContainer {
    font-size: var(--font-size-7xl);
  }
  .connect {
    font-size: var(--font-size-10xl);
  }
  .frameGroup {
    flex-wrap: wrap;
    justify-content: center;
  }
  .macbookPro1425 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-19xl);
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .connectWithRecruiters,
  .eagerToConnectContainer,
  .seasonedExecutiveWith {
    font-size: var(--font-size-lgi);
  }
  .connect {
    font-size: var(--font-size-3xl);
  }
  .iphone15ProPortraitLeftMoWrapper {
    padding-top: var(--padding-173xl);
    box-sizing: border-box;
  }
}
