@import url("https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-serif: "Inria Serif";
  --font-jomhuria: Jomhuria;

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-14xl-5: 33.5px;
  --font-size-8xl: 27px;
  --font-size-30xl-9: 49.9px;
  --font-size-11xl: 30px;
  --font-size-28xl-1: 47.1px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-23xl: 42px;
  --font-size-37xl: 56px;
  --font-size-51xl-5: 70.5px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-10xl-5: 29.5px;
  --font-size-47xl: 66px;
  --font-size-34xl: 53px;
  --font-size-17xl-4: 36.4px;
  --font-size-44xl-1: 63.1px;
  --font-size-31xl: 50px;
  --font-size-51xl-1: 70.1px;
  --font-size-65xl-1: 84.1px;
  --font-size-12xl-9: 31.9px;
  --font-size-9xl-7: 28.7px;
  --font-size-45xl: 64px;
  --font-size-31xl-3: 50.3px;
  --font-size-4xl: 23px;
  --font-size-12xl: 31px;
  --font-size-60xl-2: 79.2px;
  --font-size-20xl-6: 39.6px;
  --font-size-40xl-7: 59.7px;
  --font-size-lg: 18px;
  --font-size-2xs-2: 10.2px;
  --font-size-smi-2: 12.2px;
  --font-size-sm: 14px;
  --font-size-9xl-3: 28.3px;
  --font-size-2xl-5: 21.5px;
  --font-size-2xl-3: 21.3px;
  --font-size-base-9: 16.9px;
  --font-size-xs-1: 11.1px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-xs-3: 11.3px;
  --font-size-lgi-3: 19.3px;
  --font-size-2xl-4: 21.4px;
  --font-size-6xl-7: 25.7px;
  --font-size-base-2: 16.2px;
  --font-size-3xs-1: 9.1px;
  --font-size-base-1: 16.1px;
  --font-size-xs-8: 11.8px;
  --font-size-base-8: 15.8px;
  --font-size-3xl-4: 22.4px;
  --font-size-smi-4: 12.4px;
  --font-size-2xl-7: 21.7px;
  --font-size-xl-5: 20.5px;
  --font-size-9xl-6: 28.6px;
  --font-size-3xs: 10px;
  --font-size-2xs-4: 10.4px;
  --font-size-lg-4: 18.4px;
  --font-size-smi-8: 12.8px;
  --font-size-3xs-3: 9.3px;
  --font-size-lg-7: 18.7px;
  --font-size-xl-8: 20.8px;
  --font-size-5xl-9: 24.9px;
  --font-size-base-5: 15.5px;
  --font-size-3xl-6: 22.6px;
  --font-size-xl-9: 20.9px;
  --font-size-base-7: 15.7px;

  /* Colors */
  --color-darkslateblue-100: #0f3f76;
  --color-darkslateblue-200: #0e2f55;
  --color-darkslateblue-300: #0b2f58;
  --color-darkslateblue-400: rgba(15, 63, 118, 0.7);
  --color-black: #000;
  --color-gray-100: #0b2849;
  --color-gray-200: #06203e;
  --color-gray-300: #0f0f0f;
  --color-gray-400: #0f0e0e;
  --color-gray-500: rgba(254, 254, 254, 0);
  --color-gray-600: rgba(255, 255, 255, 0.3);
  --color-whitesmoke: #f5f6f5;
  --color-seagreen: #4a964a;
  --color-lightsteelblue-100: #c6d8ec;
  --color-lightsteelblue-200: #adc3d7;
  --color-darkgreen: #1d5f1d;
  --color-white: #fff;
  --color-steelblue-100: #4d6e99;
  --color-steelblue-200: #275890;
  --color-steelblue-300: #1e4878;
  --color-orange: #ff9b04;
  --color-darkslategray: rgba(60, 70, 81, 0.7);

  /* Gaps */
  --gap-22xl: 41px;
  --gap-xl: 20px;
  --gap-18xl: 37px;
  --gap-129xl: 148px;
  --gap-55xl: 74px;
  --gap-2xl: 21px;
  --gap-62xl: 81px;
  --gap-21xl: 40px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-12xs: 1px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-2xl-7: 21.7px;
  --gap-base-8: 16.8px;
  --gap-20xl: 39px;
  --gap-12xl: 31px;
  --gap-15xl: 34px;
  --gap-7xl: 26px;
  --gap-120xl: 139px;
  --gap-231xl: 250px;
  --gap-106xl: 125px;
  --gap-43xl: 62px;
  --gap-89xl-5: 108.5px;
  --gap-8xl: 27px;
  --gap-35xl: 54px;
  --gap-4xl-5: 23.5px;
  --gap-lgi: 19px;
  --gap-151xl: 170px;
  --gap-23xl: 42px;
  --gap-66xl: 85px;
  --gap-33xl-1: 52.1px;
  --gap-lg: 18px;
  --gap-24xl: 43px;
  --gap-92xl-1: 111.1px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-7xs: 6px;
  --gap-10xl-5: 29.5px;
  --gap-12xs-2: 0.2px;
  --gap-255xl: 274px;
  --gap-118xl: 137px;
  --gap-10xl-4: 29.4px;
  --gap-4xl-3: 23.3px;
  --gap-12xs-6: 0.6px;
  --gap-4xs-3: 8.3px;
  --gap-15xl-2: 34.2px;
  --gap-8xs-5: 4.5px;
  --gap-2xs: 11px;
  --gap-xs-8: 11.8px;
  --gap-129xl-2: 148.2px;
  --gap-102xl-6: 121.6px;
  --gap-42xl: 61px;
  --gap-base-6: 15.6px;
  --gap-12xs-3: 0.3px;
  --gap-14xl-5: 33.5px;
  --gap-base-4: 15.4px;
  --gap-9xs-3: 3.3px;
  --gap-30xl-1: 49.1px;
  --gap-6xl: 25px;
  --gap-89xl-9: 108.9px;
  --gap-11xs-1: 1.1px;
  --gap-xl-3: 20.3px;
  --gap-6xs: 7px;
  --gap-5xs-7: 7.7px;
  --gap-37xl-2: 56.2px;
  --gap-mid-3: 17.3px;
  --gap-31xl-6: 50.6px;
  --gap-13xl-7: 32.7px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-78xl: 97px;
  --padding-44xl: 63px;
  --padding-173xl: 192px;
  --padding-12xs: 1px;
  --padding-103xl: 122px;
  --padding-568xl: 587px;
  --padding-304xl-1: 323.1px;
  --padding-2xs: 11px;
  --padding-142xl: 161px;
  --padding-61xl: 80px;
  --padding-3xs: 10px;
  --padding-50xl-1: 69.1px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-7xl: 26px;
  --padding-lg: 18px;
  --padding-base-5: 15.5px;
  --padding-50xl: 69px;
  --padding-74xl: 93px;
  --padding-15xl: 34px;
  --padding-20xl: 39px;
  --padding-27xl: 46px;
  --padding-13xl: 32px;
  --padding-22xl: 41px;
  --padding-5xs: 8px;
  --padding-mid: 17px;
  --padding-18xl: 37px;
  --padding-109xl: 128px;
  --padding-45xl: 64px;
  --padding-35xl: 54px;
  --padding-17xl: 36px;
  --padding-37xl: 56px;
  --padding-38xl: 57px;
  --padding-92xl: 111px;
  --padding-21xl: 40px;
  --padding-137xl: 156px;
  --padding-28xl: 47px;
  --padding-105xl: 124px;
  --padding-9xs-5: 3.5px;
  --padding-53xl: 72px;
  --padding-31xl: 50px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-179xl: 198px;
  --padding-134xl: 153px;
  --padding-177xl-4: 196.4px;
  --padding-57xl: 76px;
  --padding-42xl: 61px;
  --padding-11xl: 30px;
  --padding-19xl: 38px;
  --padding-64xl: 83px;
  --padding-29xl: 48px;
  --padding-8xs: 5px;
  --padding-6xs-4: 6.4px;
  --padding-mini-1: 14.1px;
  --padding-5xs-7: 7.7px;
  --padding-44xl-4: 63.4px;
  --padding-333xl-7: 352.7px;
  --padding-8xs-7: 4.7px;
  --padding-10xs-6: 2.6px;
  --padding-6xs-1: 6.1px;
  --padding-4xl: 23px;
  --padding-59xl: 78px;
  --padding-lgi: 19px;
  --padding-23xl: 42px;
  --padding-12xl: 31px;
  --padding-114xl-8: 133.8px;
  --padding-48xl-8: 67.8px;
  --padding-62xl-6: 81.6px;
  --padding-34xl: 53px;
  --padding-180xl: 199px;
  --padding-448xl: 467px;
  --padding-214xl: 233px;
  --padding-80xl: 99px;
  --padding-97xl: 116px;
  --padding-30xl: 49px;
  --padding-88xl-4: 107.4px;
  --padding-41xl-1: 60.1px;
  --padding-41xl: 60px;
  --padding-153xl-8: 172.8px;
  --padding-9xl: 28px;
  --padding-82xl: 101px;
  --padding-smi: 13px;
  --padding-9xs-9: 3.9px;
  --padding-8xs-2: 4.2px;
  --padding-127xl-3: 146.3px;
  --padding-57xl-6: 76.6px;
  --padding-132xl-5: 151.5px;
  --padding-114xl: 133px;
  --padding-130xl-3: 149.3px;
  --padding-104xl-5: 123.5px;
  --padding-50xl-8: 69.8px;
  --padding-66xl-9: 85.9px;
  --padding-54xl: 73px;
  --padding-63xl: 82px;
  --padding-6xs: 7px;
  --padding-mini: 15px;
  --padding-33xl: 52px;
  --padding-275xl-5: 294.5px;
  --padding-62xl: 81px;
  --padding-3xl: 22px;
  --padding-11xs-5: 1.5px;
  --padding-sm-5: 13.5px;
  --padding-mini-5: 14.5px;
  --padding-sm-7: 13.7px;
  --padding-xs: 12px;
  --padding-16xl: 35px;
  --padding-14xl-6: 33.6px;
  --padding-8xl: 27px;
  --padding-10xl-9: 29.9px;
  --padding-16xl-3: 35.3px;
  --padding-9xl-2: 28.2px;
  --padding-10xl: 29px;
  --padding-15xl-5: 34.5px;
  --padding-27xl-5: 46.5px;
  --padding-mini-3: 14.3px;
  --padding-smi-4: 12.4px;
  --padding-107xl: 126px;
  --padding-2xl-1: 21.1px;
  --padding-33xl-6: 52.6px;
  --padding-7xl-7: 26.7px;
  --padding-sm-2: 13.2px;
  --padding-37xl-1: 56.1px;
  --padding-6xs-8: 6.8px;
  --padding-4xl-6: 23.6px;
  --padding-lgi-2: 19.2px;
  --padding-149xl-1: 168.1px;
  --padding-52xl: 71px;
  --padding-6xl: 25px;
  --padding-90xl: 109px;
  --padding-215xl-5: 234.5px;
  --padding-133xl: 152px;
  --padding-3xl-8: 22.8px;
  --padding-5xs-8: 7.8px;
  --padding-16xl-4: 35.4px;
  --padding-8xl-1: 27.1px;
  --padding-17xl-2: 36.2px;
  --padding-11xl-9: 30.9px;
  --padding-28xl-2: 47.2px;
  --padding-smi-2: 12.2px;
  --padding-18xl-3: 37.3px;
  --padding-base-6: 16.6px;
  --padding-26xl-1: 45.1px;
  --padding-6xl-1: 25.1px;
  --padding-54xl-9: 73.9px;
  --padding-2xs-6: 10.6px;
  --padding-6xs-9: 6.9px;
  --padding-6xl-8: 25.8px;
  --padding-56xl-7: 75.7px;
  --padding-6xl-9: 25.9px;
  --padding-36xl: 55px;
  --padding-9xl-4: 28.4px;
  --padding-138xl-8: 157.8px;
  --padding-10xs-2: 2.2px;
  --padding-11xs: 2px;
  --padding-10xs-9: 2.9px;
  --padding-6xs-3: 6.3px;
  --padding-10xs-1: 2.1px;
  --padding-11xs-2: 1.2px;
  --padding-10xs-7: 2.7px;
  --padding-26xl-3: 45.3px;
  --padding-8xs-5: 4.5px;
  --padding-5xl-8: 24.8px;
  --padding-25xl-6: 44.6px;
  --padding-24xl-9: 43.9px;
  --padding-32xl: 51px;
  --padding-7xl-2: 26.2px;
  --padding-4xs: 9px;
  --padding-13xl-5: 32.5px;
  --padding-50xl-5: 69.5px;
  --padding-55xl-3: 74.3px;
  --padding-40xl-6: 59.6px;
  --padding-46xl: 65px;
  --padding-17xl-3: 36.3px;
  --padding-19xl-7: 38.7px;
  --padding-38xl-9: 57.9px;
  --padding-18xl-9: 37.9px;
  --padding-9xl-9: 28.9px;
  --padding-7xs-5: 5.5px;
  --padding-2xl-9: 21.9px;
  --padding-7xs-4: 5.4px;
  --padding-11xs-3: 1.3px;
  --padding-12xl-4: 31.4px;
  --padding-96xl-3: 115.3px;
  --padding-56xl: 75px;
  --padding-lgi-9: 19.9px;
  --padding-4xl-8: 23.8px;
  --padding-12xl-5: 31.5px;
  --padding-mini-9: 14.9px;
  --padding-2xs-2: 10.2px;
  --padding-xs-2: 11.2px;
  --padding-90xl-6: 109.6px;
  --padding-28xl-3: 47.3px;
  --padding-18xl-7: 37.7px;
  --padding-xl-4: 20.4px;
  --padding-25xl: 44px;
  --padding-base: 16px;
  --padding-6xl-2: 25.2px;
  --padding-8xl-4: 27.4px;
  --padding-15xl-4: 34.4px;
  --padding-9xl-1: 28.1px;
  --padding-31xl-8: 50.8px;
  --padding-11xl-6: 30.6px;
  --padding-xl-5: 20.5px;
  --padding-39xl: 58px;

  /* Border radiuses */
  --br-mini-5: 14.5px;
  --br-85xl: 104px;
  --br-mini-7: 14.7px;
  --br-4xs-9: 8.9px;
  --br-68xl: 87px;
  --br-10xs: 3px;
  --br-base-6: 16.6px;
  --br-4xs-6: 8.6px;
  --br-23xl-3: 42.3px;
  --br-smi-4: 12.4px;
  --br-32xl: 51px;
  --br-20xl-5: 39.5px;
  --br-smi-5: 12.5px;
  --br-7xs-6: 5.6px;
  --br-9xs: 4px;
  --br-11xs-1: 1.1px;
  --br-7xs-5: 5.5px;
  --br-10xs-9: 2.9px;
  --br-smi-9: 12.9px;
}
